@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


*{
    
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,body{
  overflow-x: hidden;
}

body {
    font-family: "Poppins", serif;
    color: rgb(214, 214, 214);
  }
  
  /* .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 10px;
  } */
  
  a {
    color: white;
    text-decoration: none;
  }

  h1,h2 {
    font-weight: 300;
    line-height: 1.2;
}

ul {
    list-style: none;
}

p {
    margin: 10px 0;
}

img{
    width: 100%;
    height: auto;
}
  

/* Navbar */
  .nav-link {
    list-style: none;
    margin: 20px 0;
    width: 8rem;
    text-transform: uppercase;
    font-size: 1.1rem;
  }

 
  /* Navbar */
  .navbar {
    background: rgb(20, 20, 20);
    opacity: 0.9;
    /* position: fixed; */
    width: 100%;
    top: 0px;
  }

  
  .flex-nav {
    display: flex;
    flex-direction: column;
   
  }
  
  .nav-header span {
    color: #a72828;
    text-transform: uppercase;
  }

  .nav-header >a:hover {
    color: #fff;
  }
  
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  
  .nav-toggle {
    border: transparent;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    padding-left: 7.0rem;
  }
  
  .nav-links {
    height: 0;
    overflow: hidden;

  }
  
  .nav-open {
    height: 100vh;
  }

  .nav-link > a:hover {
    color: #a72828;;
  }
  
  @media only screen and (min-width: 900px) {
    .nav-toggle {
      display: none;
    }
  
    .nav-header {
      display: block;
      
    }
  
    .flex-nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
    }
  
    .nav-links {
      height: auto;
    }
  
    ul {
      text-align: center;
    }
  
    .nav-link {
      display: inline-block;
      border-bottom: none;
      text-transform: uppercase;
    }
  
    .nav-links span {
      background: rgb(70, 70, 70);
      padding: 8px 15px;
      border-radius: 4px;
    }

   

  }


/* hero section */
  .hero {
    height: 100vh;
    position: relative;
    background: url('/src/images/mental-health.jpg') no-repeat center center/cover;
    color: #fff;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}

.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}


.hero * {
  z-index: 1;
}


/* card section */

.icons {
  padding: 60px;
}

.box-part {
  background: #F0FFFF;
  padding: 60px 10px;
  margin: 30px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px
}

.box-part:hover {
  background: #c08e8e
}

.box-part:hover .fa,
.box-part:hover .title,
.box-part:hover .text,
.box-part:hover a {
  color: #FFF;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out
}

.text {
  margin: 20px 0px
}

.title {
  padding-top: 5px;
}

.fa {
  color: #072a36
}

/* About Me */

.about {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  line-height: 3rem;
  font-size: 42px;
}

/* Subscribe */

.signup {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.form-background {
  background-color: rgb(56, 49, 49);
}

.form-background > h2 {
  text-align: center;
  padding-top: 2rem;
}

.form-background > p {
  text-align: center;
}

.pad {
  padding-bottom: 1rem;
}

.nav-pad {
  padding-left: 5rem;
}


/* Service Hero Section */


.service {
  height: 100vh;
  position: relative;
  background: url('/src/images/pexels-alex-green-5699475.jpg') no-repeat center center/cover;
  color: #fff;
}

.service::before {
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.service .page {
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}


.service * {
  z-index: 1;
}



.service .page h1 {
  font-size: 50px;
}

.service .page p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.text {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 90px;
  justify-content: center;
  align-items: center;
}

.special {
  margin-bottom: 80px;
  margin-top: 60px;
  color: gray;
}

.advance a {
  margin-bottom: 10px;
}



/* info section */

.info {
background-color: #DDC7A0;
color: #fff;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 60px;
}

.container-fluid h1 {
  padding-bottom: 50px;
  text-align: center;
  font-size: 40px;
}

.container-fluid p {
  padding-top: 10px;
}

.container-fluid span {
  font-size: 20px;
  text-transform: uppercase;
}

.apt-button {
  text-align: center;
  margin-top: 20px;
}

.apt-button a {
  cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}


/* Faq section */

.faq {
  margin-top: 210px;
  margin-bottom: 20px;
  color: gray;
}

.faq-button {
  text-align: center;
  margin-top: 20px;
}

.faq-button button {
  padding: 20px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #a72828;
  color: #fff;
  border: 0;
}

.contact {
  margin-top: 140px;
  color: #a72828;
}

.mb-4 p {
  padding-top: 40px;
  padding-bottom: 20px;
}


.calendar {
  margin-top: 40px;
}




/* Footer */

address :hover > a {
  color: #a72828;
}

footer :hover > a {
  color: #a72828;
}


